<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
  <h1> <%= patient.patientName %> </h1>
  <p> <% if (patient.patientPronouns == "he") {%>
    he/him/his
  <% } else if (patient.patientPronouns == "she") {%>
    she/her/hers
  <% } else if (patient.patientPronouns == "xe") {%>
    xe/xem/xirs
  <% } else {%>
    they/them/theirs
  <% } %> </p>
</div>
<br>
<p> <%= patient.patientBio %> </p>

<div class="row">
  <div class="col">  </div>
  <div class="col">
    <table class="table table-light table-striped table-bordered">
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('bootfooter') -%>
