<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
  <h1> <%= provider.providerName %> </h1>
  <p> <% if (provider.providerPronouns == "he") {%>
    he/him/his
  <% } else if (provider.providerPronouns == "she") {%>
    she/her/hers
  <% } else if (provider.providerPronouns == "xe") {%>
    xe/xem/xirs
  <% } else {%>
    they/them/theirs
  <% } %> </p>
</div>
<br>
<p> <%= provider.providerBio %> </p>

<div class="row">
  <div class="col">  </div>
  <div class="col">
    <table class="table table-light table-striped table-bordered">
      <tbody>
        <% if (provider.providerOrganization) {%>
          <tr>
            <td> Organization </td>
            <td> <%= provider.providerOrganization %> </td>
          </tr>
        <% } %>
        <% if (provider.providerAddress) {%>
          <tr>
            <td> Address </td>
            <td> <%= provider.providerAddress %> </td>
          </tr>
        <% } %>
        <% if (provider.providerPhone) {%>
          <tr>
            <td> Phone </td>
            <td> <%= provider.providerPhone %> </td>
          </tr>
        <% } %>
        <% if (provider.providerEmail) {%>
          <tr>
            <td> Email </td>
            <td> <%= provider.providerEmail %> </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('bootfooter') -%>
