<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
  <h1> <%= patient.patientName %>'s Pregnancy and Birth History </h1>
</div>

<% if (pregbirth.adoptionStatus == "TRUE") {%>
  <p><%= patient.patientName %> was adopted from <%= pregbirth.countryOfOrigin %>.</p>
  <% } %>

  <p><%= patient.patientName %> is the <%= pregbirth.birthOrder%>
      <% if (pregbirth.birthOrder == 1) {%>st
      <% } else if (pregbirth.birthOrder == 2) { %>nd
      <% } else if (pregbirth.birthOrder == 3) { %>rd
      <% } else { %>th
    <% } %> child out of <%= pregbirth.motherTotalChildren %>.</p>

<%- include('bootfooter') -%>
