<%- include('bootheader') -%>
<%- include('menubar') -%>

<h6>Verbal Comprehension</h6>
<div class="row">
  <div class="col"> Similarities </div>
  <div class="col"><%= eval.wisc_vSI %></div></div>
<div class="row">
  <div class="col"> Vocabulary </div>
  <div class="col"> <%= eval.wisc_vVC %> </div></div>
<div class="row">
  <div class="col"> Information </div>
  <div class="col"> <%= eval.wisc_vIN %> </div></div>
<div class="row">
  <div class="col"> Comprehension </div>
  <div class="col"> <%= eval.wisc_vCO %> </div></div>
<br>

<h6>Visual Spatial</h6>
<div class="row">
  <div class="col"> Block Design </div>
  <div class="col"> <%= eval.wisc_vBD %> </div></div>
<div class="row">
  <div class="col"> Visual Puzzles </div>
  <div class="col"> <%= eval.wisc_vVP %> </div></div>
<br>

<h6>Fluid Reasoning</h6>
<div class="row">
  <div class="col"> Matrix Reasoning </div>
  <div class="col"> <%= eval.wisc_vMR %> </div></div>
<div class="row">
  <div class="col"> Figure Weights </div>
  <div class="col"> <%= eval.wisc_vFW %> </div></div>
<div class="row">
  <div class="col"> Picture Concepts </div>
  <div class="col"> <%= eval.wisc_vPC %> </div>
  </div>
<div class="row">
  <div class="col"> Arithmetic </div>
  <div class="col"> <%= eval.wisc_vAR %> </div></div>
<br>

<h6>Working Memory</h6>
<div class="row">
  <div class="col"> Digit Span </div>
  <div class="col"> <%= eval.wisc_vDS %> </div></div>
<div class="row">
  <div class="col"> Picture Span </div>
  <div class="col"> <%= eval.wisc_vPS %> </div></div>
<div class="row">
  <div class="col"> Letter-Number Seq. </div>
  <div class="col"> <%= eval.wisc_vLN %> </div></div>
<br>

<h6>Processing Speed</h6>
<div class="row">
  <div class="col"> Coding </div>
  <div class="col"> <%= eval.wisc_vCD %> </div></div>
<div class="row">
  <div class="col"> Symbol Search </div>
  <div class="col"> <%= eval.wisc_vSS %> </div></div>
<div class="row">
  <div class="col"> Cancellation </div>
  <div class="col"> <%= eval.wisc_vCA %> </div></div>
<hr>

Enter the composite score for each index. <i>(note that some or none of the ancillary or complementary indices may be used)</i><br><br>
<h6>Primary Indices</h6>
<div class="row">
  <div class="col"> Verbal Comprehension Index (VCI) </div>
  <div class="col"> <%= eval.wisc_vVCI %> </div></div>
<div class="row">
  <div class="col"> Visual Spatial Index (VSI) </div>
  <div class="col"> <%= eval.wisc_vVSI %> </div></div>
<div class="row">
  <div class="col"> Fluid Reasoning Index (FRI) </div>
  <div class="col"> <%= eval.wisc_vFRI %> </div></div>
<div class="row">
  <div class="col"> Working Memory Index (WMI) </div>
  <div class="col"> <%= eval.wisc_vWMI %> </div></div>
<div class="row">
  <div class="col"> Processing Speed Index (PSI) </div>
  <div class="col"> <%= eval.wisc_vPSI %> </div></div>
<br>

<h6>Ancillary Indices</h6>
<div class="row">
  <div class="col"> Quantitative Reasoning Index (QRI) </div>
  <div class="col"> <%= eval.wisc_vQRI %> </div></div>
<div class="row">
  <div class="col"> Auditory Working Memory (AWMI) </div>
  <div class="col"> <%= eval.wisc_vAWMI %> </div></div>
<div class="row">
  <div class="col"> Nonverbal Index (NVI) </div>
  <div class="col"> <%= eval.wisc_vNVI %> </div></div>
<div class="row">
  <div class="col"> General Ability Index (GAI) </div>
  <div class="col"> <%= eval.wisc_vGAI %> </div></div>
<div class="row">
  <div class="col"> Cognitive Proficiency Index (CPI) </div>
  <div class="col"> <%= eval.wisc_vCPI %> </div></div>
<br>

<h6>Complementary Indices</h6>
<div class="row">
  <div class="col"> Naming Speed Index (NSI) </div>
  <div class="col"> <%= eval.wisc_vNSI %> </div></div>
<div class="row">
  <div class="col"> Symbol Translation Index (STI) </div>
  <div class="col"> <%= eval.wisc_vSTI %> </div></div>
<div class="row">
  <div class="col"> Storage & Retrieval Index (SRI) </div>
  <div class="col"> <%= eval.wisc_vSRI %> </div></div>
<br><hr>

<h6>Full Scale Intelligence Quotient</h6>
<div class="row">
  <div class="col"> Full Scale IQ (FSIQ) </div>
  <div class="col"> <%= eval.wisc_vFSIQ %> </div></div>
<hr>

<%- include('bootfooter') -%>
