<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
  <h2> <%= provider.providerName %>'s Current Patients </h2>
</div>
<hr>
<% console.log("3")
console.log(patients) %><br>

<div id="list">
 <% patients.forEach(patient => { %>
      <% const link = '/patients/' + patient._id %>
      <a href=<%= link %>><h4> <%= patient.patientName %> </h4></a>
      <hr>
 <% }) %>
</div>

<a href='/patients/new/form'>Add new patient</a>

<%- include('bootfooter') -%>
