<%- include('bootheader') -%>
<%- include('menubar') -%>

<div id="list">
 <% items.forEach(item => { %>
     <div id="<%= item._id %>">
      <a href="result('<%=item._id %>')">X</a>
      ::
      <%= item.item %>
     </div>

 <% }) %>
</div>

<%- include('bootfooter') -%>
